@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  font-family: "Poppins", sans-serif;
}

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color:#F2F1E4;
   
}


.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px; 
  padding: 0 15px;
  box-sizing: border-box;
}
